<div class="container">

    <form class="form-signin">
        <h2 class="form-signin-heading text-center">Sign in</h2>
        <label for="username" class="sr-only text-center">Username</label>
        <input type="text" id="username" class="form-control text-center" placeholder="username" required autofocus ng-model="username">
        <label for="password" class="sr-only text-center">Password</label>
        <input type="password" id="password" class="form-control text-center" placeholder="password" required ng-model="password">
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login()">Sign In</button>
        <a class="btn btn-lg btn-primary btn-block" type="submit" href="#!/signup">Register</a>
    </form>

</div>


